@import url('https://fonts.googleapis.com/css?family=ABeeZee');

* {
  box-sizing: border-box !important;
}

html {
  overflow-x: hidden;
}

body {
  padding: 0px !important;
  background-color: whitesmoke;
  overflow: hidden;
}

.mainTitle {
  font-family: 'ABeeZee', sans-serif;
  font-size: 35px;
}
