@import url('https://fonts.googleapis.com/css?family=ABeeZee');

* {
  box-sizing: border-box !important;
}

html {
  overflow-x: hidden;
}

body {
  padding: 0px !important;
  background-color: whitesmoke;
  overflow: hidden;
}

.nameRow {
  position: relative;
  left: 90px;
  z-index: 100;
}

.mainTitleWrapper:nth-child(1) {
  padding-top: 25px;
}

.mainTitleWrapper:nth-child(4) {
  padding-bottom: 25px;
}

.mainTitle {
  background-color: rgba(178, 184, 143, 0.687);
  border-radius: 8px;
  padding: 2px 8px 1px 4px;
  font-family: 'ABeeZee', sans-serif;
  color: white;
  font-size: 25px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-shadow: 3px 6px rgb(189, 168, 150, 0.6);
}

@media screen and (max-width: 959px) {
  .nameRow {
    left: 80px;
  }
}

@media screen and (max-width: 820px) {
  .mainTitle {
    font-size: 25px;
  }
}

@media screen and (max-width: 776px) {
  .nameRow {
    left: 70px;
  }
}

@media screen and (max-width: 763px) {
  .mainTitle {
    font-size: 24px;
  }
}

@media screen and (max-width: 650px) {
  .mainTitle {
    font-size: 23px;
  }
  .nameRow {
    left: 60px;
  }
}

@media screen and (max-width: 557px) {
  .nameRow {
    left: 50px;
  }
}
