.navRow {
  margin: 13.05px;
}

.navList {
  text-decoration: none;
  color: #585858;
  display: inline-block;
  margin: 0;
  padding: 14px;
  font-size: 14px;
}

.navListHover:hover {
  color: silver;
  transition: all 0.2s ease;
}

.navTabCursor {
  cursor: default;
}

.hrLine {
  background-color: #585858;
  width: 100%;
  opacity: 0.3;
  margin: 0;
}

.text-center {
  text-align: center;
}

.iconList:nth-child(1) {
  margin: 0;
  padding-top: 20px;
}

.iconList:nth-child(n + 2) {
  margin: 0;
  padding-top: 15px;
}

.icon {
  background-color: rgba(195, 214, 213, 0.3);
  font-size: 27px;
  padding: 2px 6px;
  border-radius: 100px;
}

.iconHover:hover {
  background-color: rgba(91, 91, 91, 0.3);
  transition: all 0.1s ease;
}

@media screen and (max-width: 575px) {
  .navList {
    padding: 8px;
  }
  .iconList:nth-child(1) {
    padding-top: 16px;
  }
  .icon {
    padding: 1px 5px;
  }
}

@media screen and (max-width: 370px) {
  .navList {
    font-size: 13px;
  }
}

@media screen and (max-width: 340px) {
  .navList {
    padding: 6px;
    font-size: 13px;
  }
}
