@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

.navRow {
  margin: 13.05px;
}

.navList {
  text-decoration: none;
  color: #585858;
  display: inline-block;
  margin: 0;
  padding: 14px;
  font-size: 14px;
  font-family: 'futura';
}

.navListHover:hover {
  color: silver;
  transition: all 0.2s ease;
}

.hrLine {
  background-color: #585858;
  width: 100%;
  opacity: 0.3;
  margin: 0;
}

.text-center {
  text-align: center;
}

.iconList:nth-child(1) {
  margin: 0;
  padding-top: 13px;
}

.iconList:nth-child(n + 2) {
  margin: 0;
  padding-top: 10px;
}

.icon {
  background-color: rgba(75, 75, 75, 0.3);
  font-size: 30px;
  font-size: 30px;
  padding: 4px;
  border-radius: 100px;
}

.iconHover:hover {
  background-color: rgba(195, 214, 213, 0.3);
  transition: all 0.1s ease;
}

@media screen and (max-width: 575px) {
  .navList {
    padding: 8px;
  }
}

@media screen and (max-width: 370px) {
  .navList {
    font-size: 13px;
  }
}

@media screen and (max-width: 340px) {
  .navList {
    padding: 7px;
    font-size: 12px;
  }
}
