@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

.navList {
  text-decoration: none;
  color: #585858;
  display: inline-block;
  margin: 0;
  padding: 14px;
  font-size: 15px;
  font-family: 'PT Sans Narrow', sans-serif;
}

.navList:hover {
  color: #fbfbfb;
  transition: all 0.2s ease;
}

.hrLine {
  background-color: #585858;
  width: 100%;
  opacity: 0.3;
  margin: 0;
}

.text-center {
  text-align: center;
}

.iconList > li {
  margin: 0;
  padding-top: 10px;
}

.icon {
  background-color: rgba(75, 75, 75, 0.3);
  padding: 6px;
  border-radius: 100px;
}

.groupSize {
  color: grey;
  font-family: 'PT Sans Narrow', sans-serif;
  opacity: 0.3;
}
