.hrLine {
  background-color: #585858;
  width: 100%;
  opacity: 0.3;
  margin: 0;
}

footer {
  background-color: #1b1b1b;
  height: 220px;
  font-size: 14px;
  text-align: center;
}

.footerLinks {
  width: '15px';
}
